fastapi==0.95.0
uvicorn==0.22.0
python-docx==0.8.11
python-pptx==0.6.18
textract==1.6.3
PyMuPDF==1.21.0
sqlalchemy==2.0.18
psycopg2==2.9.6
python-multipart
groq
PyJWT==2.10.1
python-dotenv==1.0.0
stripe==7.7.0
